@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body, html{
    height: 100;
    margin: 3;
    background-color: #000814;
    font-family: 'Roboto, Condensed',sans-serif;
    line-height: 180%;
    color: #e2eafc;
    text-align: center;
}

.logo{
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.botones{
    position: relative;
    width: 20%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: auto;
}

.botones li a{
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 3em;
    margin-bottom: 5px;
    border-radius: 5%;
    text-align: center;
    color: #fff;
    background: #000814;
    transition: .5s;
    border: 2px;
}

.botones li a:hover{
    transform: scale(1,1.2);
}